@font-face {
  font-family: "Scto-Light";
  src: url("../fonts/Scto-Grotesk-A-Light.woff") format("woff"), url("../fonts/Scto-Grotesk-A-Light.eot") format("eot");
}
@font-face {
  font-family: "Scto-Reg";
  src: url("../fonts/Scto-Grotesk-A-Reg.woff") format("woff2"), url("../fonts/Scto-Grotesk-A-Reg.eot") format("eot");
}
@font-face {
  font-family: "Scto-Med";
  src: url("../fonts/Scto-Grotesk-A-Med.woff") format("woff2"), url("../fonts/Scto-Grotesk-A-Med.eot") format("eot");
}
/* MIXINS */
/* VARIABLES */
.lg-txt {
  font-size: calc(2.1vw + 5px);
  letter-spacing: -0.06em;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 900px) {
  .lg-txt {
    font-size: 5.7vh;
  }
}

.md-txt {
  font-size: calc(1.7vw + 5px);
  letter-spacing: -0.04em;
  -webkit-font-smoothing: initial;
}
@media (max-width: 900px) {
  .md-txt {
    font-size: 3vh;
  }
}

/* DEFAULTS */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  -webkit-appearance: none;
}

body {
  font-family: "Scto-Reg", -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
  font-weight: normal;
  color: #2e2b2c;
  letter-spacing: -0.05em;
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

/* ACTUAL CONTENT  */
html {
  width: 100%;
  overflow-x: hidden;
}

.global-wrapper {
  transition: all 1s ease;
  position: absolute;
  width: 100%;
}
.global-wrapper.translated {
  transform: translateX(50vw);
  overflow: hidden;
}
@media (max-width: 900px) {
  .global-wrapper.news-open {
    transform: scale(0.9);
    overflow-x: visible;
  }
}

.application-caller {
  cursor: pointer;
}
.application-caller a:hover {
  color: red;
}

/* 



		NAVIGATION  



							*/
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  display: flex;
}
header .logo {
  width: 20vw;
  margin-top: 5px;
  margin-left: 5px;
}
@media (max-width: 900px) {
  header .logo {
    margin-top: 10px;
    margin-left: 5px;
    width: calc(100vw - 14px);
  }
}
header .shortcuts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: lowercase;
  width: 50vw;
  position: absolute;
  right: 10px;
  justify-content: space-between;
  margin-right: 8px;
  -webkit-font-smoothing: antialiased;
  font-size: calc(2.7vw + 5px);
  letter-spacing: -0.065em;
}
header .shortcuts.internal-shortcut {
  width: 100vw;
  right: 0px;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
header .shortcuts a {
  color: #2e2b2c;
}
header .shortcuts a.current {
  color: #8C633A;
}
@media (max-width: 900px) {
  header .shortcuts a {
    display: none;
  }
}
header .shortcuts a:hover {
  color: #149447;
}
header .shortcuts .menu-caller {
  display: flex;
  align-items: center;
  margin-left: 1vw;
  cursor: pointer;
}
header .shortcuts .menu-caller.internal {
  position: fixed;
  top: 0px;
  right: 13px;
}
@media (max-width: 900px) {
  header .shortcuts .menu-caller {
    position: fixed;
    right: 5px;
    top: 5px;
  }
}
header .shortcuts .menu-caller button {
  width: 64px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 5px;
  animation: opacity-80 2.4s ease infinite;
  animation-delay: 1.68s;
}
@media (max-width: 900px) {
  header .shortcuts .menu-caller button {
    margin-right: 0px;
    margin-top: 3px;
  }
}
header .shortcuts .menu-caller button .round {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background: grey;
  animation: typing 2.4s ease infinite;
}
header .shortcuts .menu-caller button .round.first {
  background: #8C633A;
  animation-delay: 0.5s;
}
header .shortcuts .menu-caller button .round.second {
  background: #149447;
  animation-delay: 0.7s;
}
header .shortcuts .menu-caller button .round.third {
  background: #605FA5;
  animation-delay: 0.9s;
}
header .shortcuts .menu-caller .caller-helper {
  color: #2e2b2c;
}
header .shortcuts .menu-caller .caller-helper:hover {
  color: #605FA5;
}
@media (max-width: 900px) {
  header .shortcuts .menu-caller .caller-helper {
    display: none;
  }
}

.menu {
  width: 57vw;
  background: white;
  z-index: 9;
  transform: translateX(60vw);
  transition: all 0.75s ease;
  box-shadow: -8px 1px 16px 1px rgba(0, 0, 0, 0);
  text-transform: lowercase;
}
@media (max-width: 900px) {
  .menu {
    width: 78vw;
    transform: translateX(90vw);
  }
}
.menu.open {
  transform: none;
  box-shadow: -8px 1px 16px 1px rgba(0, 0, 0, 0.1);
}
.menu.further-open {
  transform: translateX(-33vw);
}
@media (max-width: 900px) {
  .menu.further-open {
    transform: translateX(-13vw);
  }
}
.menu .menu-header {
  font-size: 2.2vw;
  margin: 5px 15px;
  letter-spacing: -0.06em;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
@media (max-width: 900px) {
  .menu .menu-header {
    font-size: 3vh;
  }
}
.menu .menu-container {
  margin: 5px 15px;
  display: flex;
  flex-direction: column;
  font-size: 2.7vw;
  margin-top: 10.3vh;
  line-height: 1.5;
}
.menu .menu-container .main-menu {
  display: flex;
  flex-direction: column;
}

/* 



		APPLICATION



							*/
#application {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: white;
  transform: translateX(-130vw) rotate(45deg);
  transition: 1s ease;
  color: red;
  font-size: 6.4vw;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  line-height: 0.9;
  letter-spacing: -0.07em;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  z-index: 9;
}
@media (max-width: 900px) {
  #application {
    width: 100vw;
    font-size: 5vh;
    line-height: 1;
    transform: translateX(-160vw) rotate(45deg);
  }
}
#application.almost {
  transform: translateX(-100vw) rotate(25deg);
}
#application.visible {
  transform: none;
  overflow-y: auto;
}
#application p {
  margin: 0px;
  margin-bottom: 10vh;
}
#application .lines-bg {
  width: 1px;
  position: fixed;
  height: 100vh;
  margin-top: -15px;
}
#application .lines-bg.blue-border {
  right: 10vw;
  background: #BFBEE4;
}
#application .lines-bg.brown-border {
  left: 10vw;
  background: #c9b198;
}
#application .lines-bg.green-border {
  left: 50vw;
  background: #9ED2B3;
}
#application .close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2vw;
  letter-spacing: -0.01em;
  color: #333;
  background: wheat;
  padding: 15px;
  border-radius: 65px;
  cursor: pointer;
}

/* 





		HOME PAGE  



							*/
#intro {
  position: fixed;
  overflow: hidden;
  top: 10vh;
  left: 0px;
}
@media (max-width: 900px) {
  #intro {
    padding: 5px;
  }
}
@media (max-width: 900px) {
  #intro .intro-wrapper {
    width: 100vw;
    overflow-x: auto;
  }
}
#intro .intro-wrapper p {
  width: 80%;
  line-height: 1.1;
  margin-top: 80px;
  margin-left: 5px;
}
@media (max-width: 900px) {
  #intro .intro-wrapper p {
    width: 160%;
    line-height: 1.15;
    column-count: 2;
    padding-right: 10vw;
  }
}

/* 	NEWSFEED WITHIN HOME PAGE 	*/
.news {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  position: relative;
  margin-top: 55vh;
  background: white;
  z-index: 3;
}
@media (max-width: 900px) {
  .news {
    margin-top: 78vh;
  }
}
.news .news-controls {
  width: 100%;
  height: 4vh;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  padding: 1.4vh;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  color: #9ed2b3;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .news .news-controls {
    padding: 1.4vh 5px;
  }
}
.news .news-wrapper {
  padding: 15px;
  max-height: calc(5vw + 8px);
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
  background: white;
}
@media (max-width: 900px) {
  .news .news-wrapper {
    padding: 5px;
    height: 12.5vh;
  }
}
.news .news-wrapper.open {
  max-height: 150vmin;
  border-top-right-radius: 72px;
  border-top-left-radius: 72px;
  padding-top: 2vh;
  box-shadow: 1px -8px 11px 5px #0000000f;
  background: #fff6e3;
  transform: scale(1);
}
@media (max-width: 900px) {
  .news .news-wrapper.open {
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
    transform: scale(1.12);
    z-index: 999;
  }
}
@media (max-width: 900px) {
  .news .news-wrapper.open .date, .news .news-wrapper.open .tags, .news .news-wrapper.open .content {
    margin-top: 1.8vw;
  }
}
@media (max-width: 900px) {
  .news .news-wrapper.open .content {
    font-size: 4vh;
  }
}
.news .news-wrapper .news-item {
  display: grid;
  grid-template-columns: 1fr 3fr 16fr;
}
@media (max-width: 900px) {
  .news .news-wrapper .news-item {
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 3vh;
  }
}
.news .news-wrapper .news-item .content {
  margin-top: 1.2vh;
  transition: all 0.2s ease;
  line-height: 1.2;
}
@media (max-width: 900px) {
  .news .news-wrapper .news-item .content {
    grid-column: 2;
    grid-row: 1;
  }
}
.news .news-wrapper .news-item .content .excerpt {
  width: 95%;
  line-height: 1.4;
  margin-top: -5px;
}
.news .news-wrapper .news-item .content .excerpt .previous-images {
  max-width: 0px;
  overflow: hidden;
  display: block;
  float: left;
  transition: all 0.5s ease;
  margin-right: 0px;
  height: 6.3vh;
  margin-top: -0.8vh;
  filter: blur(5px);
}
@media (max-width: 900px) {
  .news .news-wrapper .news-item .content .excerpt .previous-images {
    display: none;
  }
}
.news .news-wrapper .news-item .content .excerpt .previous-images img {
  height: 100%;
  width: auto;
  border-radius: 10px;
  margin-left: 7px;
  overflow: hidden;
  opacity: 0.85;
  border: 1px solid red;
}
.news .news-wrapper .news-item .content .excerpt:hover .previous-images {
  max-width: 30vw;
  margin-right: 22px;
  filter: blur(0px);
}
.news .news-wrapper .news-item .content .excerpt:hover .previous-images img {
  border: 1px solid transparent;
}
.news .news-wrapper .news-item .content .text {
  max-width: 70%;
  line-height: 1.33;
  margin-bottom: 2vw;
}
.news .news-wrapper .news-item .content .news-images {
  max-width: 90%;
  overflow: hidden;
  margin: 4vh 0px;
}
.news .news-wrapper .news-item .content .news-images img {
  max-width: 40%;
  margin-right: 10px;
  float: left;
}
.news .news-wrapper .news-item .content .news-images img.lazyloading {
  opacity: 0;
  filter: blur(10px);
}
.news .news-wrapper .news-item .content .news-images img.lazyloaded {
  opacity: 1;
  transition: all 500ms;
  filter: blur(0px);
}
.news .news-wrapper .news-item .date {
  font-variant-numeric: tabular-nums;
  font-size: 1.4vh;
  letter-spacing: 0.01em;
  padding-top: 3.1vh;
}
@media (max-width: 900px) {
  .news .news-wrapper .news-item .date {
    padding-top: 1vh;
  }
}
.news .news-wrapper .news-item .tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7vh;
}
@media (max-width: 900px) {
  .news .news-wrapper .news-item .tags {
    grid-column: 1;
  }
}
.news .news-wrapper .news-item .tags ul {
  padding: 10px;
}
@media (max-width: 900px) {
  .news .news-wrapper .news-item .tags ul {
    padding: 0px;
    height: 6vh;
    width: 24vw;
    min-width: 110px;
  }
}
.news .news-wrapper .news-item .tags ul li {
  line-height: 1;
}
.news .news-wrapper .news-item .tags ul li a {
  font-size: 10px;
  background: red;
  border-radius: 20px;
  padding: 3px 8px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  padding-top: 5px;
  display: inline-block;
  margin-bottom: 3px;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 900px) {
  .news .news-wrapper .news-item .tags ul li a {
    font-size: 10px;
    padding: 5px 5px;
    margin-bottom: 2px;
    padding-top: 6px;
    letter-spacing: -0.03em;
  }
}
.news .news-wrapper .news-item .tags ul li a.announcement {
  background: #9ED2B3;
}
.news .news-wrapper .news-item .tags ul li a.workshops {
  background: #C9B198;
}
.news .news-wrapper .news-item .tags ul li a.students {
  background: #BFBEE4;
}

/* 	



		MENU


							 	*/
/* 	MINI EVENT CALENDAR WITHIN HOME PAGE 	*/
.pre-agenda {
  width: 33vw;
  background: white;
  z-index: 10;
  transition: all 0.75s ease;
  transform: translateX(33vw);
}
@media (max-width: 900px) {
  .pre-agenda {
    width: 78vw;
    transform: translateX(90vw);
    font-size: 3vh;
  }
}
.pre-agenda.open {
  transform: none;
  box-shadow: -8px 1px 16px 1px rgba(0, 0, 0, 0.04);
  width: calc( 33vw + 1px);
}
@media (max-width: 900px) {
  .pre-agenda.open {
    width: 78vw;
  }
}
.pre-agenda .agenda-header {
  font-size: 2.2vw;
  letter-spacing: -0.06em;
  border-bottom: 1px solid;
  padding: 5px 15px;
}
@media (max-width: 900px) {
  .pre-agenda .agenda-header {
    font-size: 3vh;
  }
}
.pre-agenda .agenda-container {
  overflow-y: auto;
}
.pre-agenda .agenda-container .event-wrapper {
  height: auto;
  min-height: 13vw;
  overflow: hidden;
  border-bottom: 0.5px solid;
  letter-spacing: -0.06em;
  padding: 15px;
}
@media (max-width: 900px) {
  .pre-agenda .agenda-container .event-wrapper {
    min-height: 20vh;
    padding: 10px;
  }
}
.pre-agenda .agenda-container .event-wrapper .date {
  font-variant-numeric: tabular-nums;
}
.pre-agenda .agenda-container footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  text-align: center;
  width: 33vw;
  height: 6vh;
  line-height: 4vh;
  background: linear-gradient(0deg, white 0%, #e8e7e3 43%, rgba(255, 255, 255, 0) 100%);
  transition: all 0.5s ease;
}
@media (max-width: 900px) {
  .pre-agenda .agenda-container footer {
    width: 78vw;
    height: 10vh;
  }
}
.pre-agenda .agenda-container footer button {
  background: #c9b198;
  padding: 4px 30px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.7;
  padding-top: 6px;
  margin-top: 1.8vh;
  letter-spacing: 0.01em;
}
@media (max-width: 900px) {
  .pre-agenda .agenda-container footer button {
    margin-top: 3vh;
  }
}

/* 	



		ABOUT PAGE


							 	*/
.about-content {
  font-size: 2.5vw;
  letter-spacing: -0.04em;
  margin-top: 20vh;
  line-height: 1.33;
}
.about-content .main-info {
  font-size: 3vw;
  margin-bottom: 10vh;
  line-height: 1.1;
  margin: 2px;
  margin-bottom: 5vw;
}
.about-content .columns {
  display: flex;
}
.about-content .columns .column {
  margin: 5px;
  margin-right: 3vw;
}
.about-content .columns .column div {
  margin-bottom: 3vh;
}
.about-content p, .about-content h1, .about-content h2, .about-content h3 {
  display: inline;
  font-size: inherit;
}
.about-content b, .about-content strong {
  color: #8C633A;
  display: block;
  font-weight: normal;
  font-family: "Scto-Med";
  -webkit-font-smoothing: antialiased;
}
.about-content p {
  text-indent: 5vw;
  display: inline-block;
  margin: 0px;
}
.about-content em {
  font-style: normal;
  font-family: "Scto-Med";
  border-bottom: 1px solid;
}

/* 	



		 BLACKBOARD


							 	*/
.blb-intro {
  position: fixed;
  top: 0px;
  left: 0px;
  background: red;
  background: linear-gradient(180deg, #ff0000 0%, rgba(255, 46, 0, 0) 63.54%);
  width: 100vw;
  pointer-events: none;
  transform: translateY(-50vh);
  transition: all 0.5s ease;
  height: 5vh;
}
.blb-intro.almost {
  transform: none;
}
.blb-intro.full {
  height: 90vh;
}
.blb-intro.invert {
  transform: rotate(180deg) translateY(-50vh);
  top: initial;
  bottom: 0px;
  z-index: 99;
}
.blb-intro.invert.almost {
  transform: rotate(180deg) translateY(0px);
}

.blackboard-container {
  position: fixed;
  width: 100vw;
  height: 0;
  background: black;
  color: white;
  top: 0px;
  left: 0px;
  z-index: 99;
  overflow: hidden;
  font-size: 3vw;
  transition: all 0.5s ease;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .blackboard-container {
    font-size: 3.5vh;
  }
}
.blackboard-container.visible {
  height: 100vh;
  overflow-y: auto;
  transition-delay: 0.5s;
}
.blackboard-container .blb-header {
  position: fixed;
  z-index: -1;
  justify-content: space-between;
  display: none;
  width: calc(100% - 16px);
  padding: 8px;
}
.blackboard-container .blb-header.visible {
  display: flex;
  transition: 0.3s ease;
  transition-delay: 0.5s;
}
.blackboard-container .blb-header .blb-title {
  margin-top: -5px;
}
.blackboard-container .blb-header .blb-close {
  margin-top: -5px;
}
.blackboard-container .blb-images {
  max-width: 70vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 50vh;
  pointer-events: none;
}
.blackboard-container .blb-images img {
  max-width: 100%;
  margin: 10vh auto;
}
.blackboard-container .blb-images img.lazyloading {
  opacity: 0;
  filter: blur(20px);
}
.blackboard-container .blb-images img.lazyloaded {
  opacity: 1;
  transition: all 500ms;
  filter: blur(0px);
}

/* 



		FACULTY START



							*/
.faculty-main {
  margin-top: 30vh;
  margin-left: 5px;
}
.faculty-main .title {
  background: #9ED2B3;
  font-size: 10px;
  border-radius: 20px;
  padding: 3px 8px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  padding-top: 5px;
  display: inline-block;
  margin-bottom: 3px;
  -webkit-font-smoothing: antialiased;
  margin-left: 8px;
  margin-bottom: 14px;
}
.faculty-main .title.collaborator-title {
  background: #c9b198;
  margin-top: 25px;
}
.faculty-main ul {
  padding: 0px;
}
.faculty-main ul li {
  line-height: 0.8;
  margin-bottom: 12px;
}
.faculty-main ul li .collab-details {
  position: fixed;
  width: 30%;
  text-align: center;
  left: 35%;
  height: auto;
  opacity: 0;
  font-size: 13px;
  height: 100vh;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faculty-main ul li .collab-details .information {
  margin-top: 16px;
  color: black;
  letter-spacing: 0;
  font-size: 13px;
  line-height: 1.3;
}
.faculty-main ul li .collab-details .information span {
  color: #605FA5;
  font-size: 18px;
}
.faculty-main ul li .collab-details img {
  max-width: 20vw;
  max-height: 20vw;
}
.faculty-main ul li:hover {
  color: #605FA5;
  cursor: pointer;
}
.faculty-main ul li:hover .collab-details {
  opacity: 1;
  color: #149447;
}

/* 



		FACULTY ENDS



							*/
/* 



		GLOBAL OVERRIDES



							*/
.fixed-full-height {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
}

.shadow {
  box-shadow: 1px 7px 11px #0000000f;
}
.shadow.red {
  box-shadow: 1px 7px 11px red;
}

.shadow-inset {
  box-shadow: inset 1px -8px 11px 5px #0000000f;
}

.side-shadow {
  box-shadow: -8px 1px 16px 1px rgba(0, 0, 0, 0.1);
}

.transform-3d {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

/* 



		CSS ANIMATIONS



							*/
@keyframes typing {
  0% {
    transform: none;
    opacity: 1;
  }
  70% {
    transform: none;
    opacity: 1;
  }
  80% {
    transform: translateY(4px) scaleY(0.8);
    opacity: 0.6;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes opacity-80 {
  0% {
    border: 1px solid black;
  }
  80% {
    border: 1px solid #eee;
    background: #eee;
  }
  100% {
    border: 1px solid black;
  }
}

/*# sourceMappingURL=index.css.map */
